<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خطای موجودی</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body dir="rtl">
    <div class="container mt-5">
        <div class="alert alert-danger text-center">
            <h4>موجودی شما برای خرید کافی نیست!</h4>
            <p>لطفاً حساب خود را شارژ کنید تا بتوانید خرید را تکمیل کنید.</p>
            <a href="{% url 'main' %}" class="btn btn-success">بازگشت به صفحه اصلی</a>
        </div>
    </div>
</body>
</html>
