<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خرید نهایی بلوک</title>
</head>
<body>
    <div class="container mt-5">
        <h2>خرید نهایی بلوک</h2>
        <p>بلوک شماره {{ transaction.block.block_number }}</p>
        <p>قیمت: {{ transaction.price }} تومان</p>
        <p>شهر: {{ transaction.city }}</p>
        <p>محله: {{ transaction.neighborhood }}</p>
        <p>خیابان: {{ transaction.street }}</p>
        <p>کوچه: {{ transaction.alley }}</p>
    </div>
</body>
</html>
